.register {

    text-align: center;
    width: 20%;
    margin-left: 39rem;
    color: white;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #1976D2;
    border-radius: 1rem;

}